<% actividades.each do |actividad| %>
  <div class="row">
    <div class="col-xs-1 table-row text-left"><%= actividad.nombre %></div>
    <div class="col-xs-2 table-row text-left"><%= actividad.descripcion %></div>
    <div class="col-xs-2 table-row text-left"><%= actividad.anteriores%></div>
    <div class="col-xs-3 table-row text-left"><%= actividad.start_time %></div>
    <div class="col-xs-3 table-row text-left"><%= actividad.end_time %></div>
    <div class="col-xs-1 table-row text-left">
      <% if asignacion.rol == 1 %>
        <%= link_to new_actividad_setempleado_path(actividad) do %>
            <i class="material-icons">person_add</i>
        <% end %>
      <% end %>
      <% if actividad.asignacion_actividads.where(empleado_id: current_user.id).count > 0 %>
        <%= link_to proyecto_actividad_path(actividad.proyecto, actividad) do %>
            <i class="material-icons">visibility</i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
