<div class="row">
  <div class="col-xs-2 table-row text-left"><%= actividad.nombre %></div>
  <div class="col-xs-4 table-row text-left"><%= actividad.descripcion %></div>
  <div class="col-xs-2 table-row text-left"><%= CategoriaEmpleado.find(actividad.rol).categoria %></div>
  <div class="col-xs-2 table-row text-left"><%= actividad.anteriores%></div>
  <div class="col-xs-2 table-row text-left"><%= actividad.esfuerzo%></div>
</div>
