<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <header class="header-main">
            <p><%= yield :breadcrum %></p>
            <div class="header-options">
                <%= link_to logout_path, method: :delete do %>
                    <i class="material-icons">power_settings_new</i>
                <% end %>
            </div>
        </header>
        <div id="nav-side" class="nav-side">
            <div class="side-logo">GTAPROS</div>
            <nav>
                <ul>
                    <% if current_user.categoria == 0 %>
                        <li><%= link_to "Proyectos", proyectos_path %></li>
                        <li><%= link_to "Empleados", empleados_path %></li>
                    <% else %>
                        <li><%= link_to "Proyectos", empleado_proyectos_path(current_user) %></li>
                    <% end %>
                    <li><%= link_to "Calendario", "#" %></li>
                </ul>
            </nav>
            <div class="nav-footer">
                <p>Grupo 07</p>
                <ul>
                    <li>Pablo Carrascal Muñoz</li>
                    <li>Pablo Garcia Sanz</li>
                    <li>Sergio Garcia Villanueva</li>
                    <li>Rodrigo Nuñez Paul</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <%= yield %>
        </div>
    </body>
</html>
